
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
 margin: 0;
}

.container {
    display: flex;
    width: 95vw;
    
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 88vh;
    
    border-radius: 50px;
    color: rgb(35, 9, 9);
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.8s ease-in;
       
}

.panel h3 {
    font-size: 25px;
    position: absolute;
    bottom: 20px;
    left: 40px;
    /* margin: 0; */
    opacity: 0.1;
    border-style: solid ;
    border-radius: 50px;

}

.panel.active {
    flex: 6;
    
}

.panel.active h3{
    opacity: 1;

}

